html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/*
font-family: 'Crete Round', serif;
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/
.container-header {
  display: flex;
  width: 100%;
}

.nav-bar {
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: #3c3a39;
  width: 100%;
  align-items: center;
  height: 7vh;
}

.logo {
  display: flex;
  padding-left: 8vw;
  padding-top: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: #3c3a39;
  color: #fff;
  width: 40%;
  margin: 0;
  text-decoration: none;
}

.navlink {
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-size: 44px;
  margin: 0 0;
  border-bottom: solid 2px #6f6c6b;
  border-top-width: 10vh;
  width: 90%;
  margin-left: 5%;
  margin-top: 3vh;
  height: 60px;
}

.button-list {
  position: fixed;
  left: -110%;
  top: 0;
  gap: 0;
  background-color: #3c3a39;
  width: 100%;
  text-align: left;
  transition: 0.3s;
  height: 98%;
  line-height: 44px;
  flex: 1;
  z-index: 10;
}

.x-close {
  margin-left: 77vw;
  margin-top: 5vh;
}

.button-list.active {
  left: 0;
}

.button-list-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  width: 100%;
  height: 15vh;
  margin-top: 46vh;
  padding-left: 0;
  margin-left: 0;
  flex: 1;
}

.rod {
  background-color: #dbd8d7;
  flex: 1;
}

.division-line5 {
  height: 0;
  width: 40%;
  background-color: #0d151e;
}

.a-nav-button {
  color: #fff5e1;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  margin-left: 15px;
}

.hamburger {
  margin-left: 0;
  margin-right: 10vw;
  cursor: pointer;
}

.container-landingpage {
  background-color: #1c1a19;
  margin-top: 0;
  background-image: url(img/landingimage-mobile.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 105%;
  background-size: 32%;
  padding-top: 0;
  padding-bottom: 12vh;
  width: 100%;
}

.hey {
  margin-top: 0;
  margin-bottom: 1vh;
  font-family: 'Crete Round', serif;
  font-weight: lighter;
  color: #ff6b00;
  font-size: 56px;
  padding-top: 12vh;
  padding-left: 3vh;
  width: 90%;
}

.profession {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin-left: 3vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 90%;
}

.paragraph {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  margin-left: 3vh;
  width: 80%;
}

.container-logos {
  width: 25vh;
  padding-left: 2vh;
  display: flex;
  justify-content: space-between;
  padding-top: 3vh;
}

.list-social {
  list-style: none;
}

/* -------ENDS SECTION LANDING PAGE MOBILE--------------- */

/* --------STARTS SECTION WORKS MOBILE----------------- */

.container-works {
  width: 100%;
}

.header-works {
  font-family: 'Crete Round', serif;
  font-size: 40px;
  margin-left: 5%;
  font-weight: 300;
  color: #1c1a19;
  margin-top: 20vh;
}

.division {
  width: 90%;
  height: 2px;
  margin-bottom: 10vh;
  color: #212121;
}

.image1 {
  width: 90%;
  margin-left: 5%;
}

.header-posts {
  margin-left: 5%;
  margin-top: 3vh;
  margin-bottom: 2vh;
  font-family: 'Crete Round', serif;
  font-weight: lighter;
  font-size: 32px;
}

.posts-paragraph {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-left: 5%;
  margin-right: 7%;
  color: #091e42;
}

.list-tools {
  display: flex;
  padding-left: 0;
  margin-left: 5%;
  margin-right: 10%;
  justify-content: center;
  align-content: center;
  gap: 2vh;
  margin-top: 2vh;
}

.container-cards {
  width: 90vw;
  margin-left: 5%;
  border: none; 
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: #091e42;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 20px;
  border: solid 1px #8993a4;
}

.item-css {
  height: 6vh;
  width: 9vh;
}

.item-html {
  height: 6vh;
  width: 10vh;
}

.item-bootstrap {
  height: 6vh;
  width: 14vh;
}

.item-ruby {
  height: 6vh;
  width: 9vh;
}

.seeproject1 {
  width: 40%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 5%;
}

.container-card-heading {
  position: absolute;
  z-index: 3;
  top: 11vh;
}

.card-heading {
  color:#fff;
  font-family: 'Crete Round', serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 50px;
  /*padding-top: 6vh;*/
  padding-left: 2vh;
  margin-bottom: 1vh;
  
}

.container-card-paragraph {
  position: absolute;
  z-index: 3;
  top: 27vh;
  width: 80%;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding-left: 2vh;
}

.card-paragraph {
  color: #fff;
  /*padding-top: 0;
  margin-top: 0;
  height: 10vh;
  margin-bottom: 0;*/
 
 
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /*position: relative;*/
  background-color: none;
  /*background-image: url(img/Img-Placeholder1.png);*/
  /*background-size: cover;*/
  
  /*margin-left: 5%;
  margin-bottom: 0;
  color: #fff;
  height: 380px;
  flex: 1;
  overflow: hidden;*/
  
  /**/
  /*margin-left: 5%;*/
  
}

.container-card-image {
width: 100%;

}

.card-image1 {
  width: 100%;
  height: fit-content;
  z-index: 0;
}

.cardlist {
  /*margin-bottom: 3vh;*/
  padding-left: 2vh;
  display: flex;
  justify-content: space-between;
  /*width: 73%;
  height: fit-content;*/
  position: absolute;
  z-index: 3;
  top: 46vh;
  color: white;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  border: solid 1px rgba(255, 255, 255, 0.24);
}

.html {
  height: 6vh;
  width: 8.5vh;
}

.bootstrap {
  height: 6vh;
  width: 20vw;
  margin-right: 2vw;;
}

.ruby {
  height: 6vh;
  width: 8.5vh;
}

.button {
  margin-left: 5%;
  height: 6.5vh;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  border: none;
}

.button:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.button:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.seeproject2 {
  width: 100%;
  height: 8vh;
  margin: 0;
}


/* -------ENDS SECTION CONTAINER WORKS MOBILE----------- */

/* --------------STARTS SECTION ABOUT MYSELF------------- */
.container-aboutme {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  margin-top: 17vh;
  background-image: url(img/illustration-about-me-mobile.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 22.5%;
  padding-bottom: 10vh;
  width: 100%;
}

.headeraboutme {
  margin-bottom: 1vh;
  font-family: 'Crete Round', serif;
  font-weight: lighter;
  color: #ff6b00;
  font-size: 72px;
  padding-top: 12vh;
  margin-left: 3vh;
  width: 80%;
}

.hello {
  color: #f4f5f7;
  font-size: 15px;
  width: 75%;
}

.getmyresume {
  width: 44vw;
  margin-top: 3vh;
  margin-bottom: 30vh;
}

.division-line1 {
  height: 2px;
}

.subcontainer-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.languagesquare {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #fff;
  display: inline-block;
  margin-bottom: 2vh;
  padding-left: 1vh;
}

.title1 {
  margin-top: 8vh;
}

.title2 {
  margin-top: 2vh;
  padding-left: 2vh;
}

.title3 {
  margin-top: 2vh;
}

.square90 {
  width: 1.2rem;
  height: 1.2rem;
  background-color: #ff6b00;
  transform: rotate(45deg);
  display: inline-block;
}

.listaboutlanguages {
  display: flex;
  flex-direction: column;
  padding-left: 0%;
  align-items: center;
}

.aboutlanguage {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 22px;
  list-style: none;
  color: #fff;
  padding-bottom: 3vh;
}

.square {
  width: 1.2rem;
  height: 1.2rem;
  background-color: #ff6b00;
  margin-right: 0%;
  display: inline-block;
}

.circle {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 150px;
  background-color: #ff6b00;
  margin-right: 0%;
  display: inline-block;
}

/* -------ENDS SECTION ABOUTME MOBILE----------- */

/* --------------STARTS SECTION CONTACTME MOBILE------------- */

.container-contactme {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.always {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  width: 83%;
  margin-left: 7%;
  line-height: 44px;
  margin-top: 8vh;
  margin-bottom: 10vh;
}

.contactform {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
}

.name,
.email {
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.message {
  background-color: #fbf8f7;
  border: none;
  height: 17vh;
  margin-top: 0;
}

.name::placeholder,
.email::placeholder {
  padding-left: 1rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #979493;
}

.message::placeholder {
  padding-top: 1rem;
  padding-left: 1rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #3c3a39;
}

.container-touch {
  display: flex;
  justify-content: center;
}

.touch {
  width: 40%;
  margin-top: 3vh;
  margin-bottom: 8vh;
}

.division-line2 {
  background-color: #dbd8d7;
  width: 100%;
  margin-bottom: 4vh;
}

.division-line3 {
  width: 100%;
  margin-bottom: 0;
  margin-top: 2vh;
  background-color: #dfe1e6;
}

.division-line4 {
  height: 5px;
  background-color: #212121;
  width: 40%;
  margin-bottom: 1vh;
  margin-top: 3vh;
  justify-content: center;
  margin-left: 30%;
}

footer {
  display: flex;
  flex-flow: row wrap;
}

.social-icons-form {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  align-items: baseline;
}

/* -----------ENDS SECTION CONTACTME MOBILE------------- */
@media (max-width: 767px) {
  .heythere,
  .envelope,
  .se,
  .desktopgheading2,
  .desktopgheading3,
  .card-image {
    display: none;
  }
}

@media (min-width: 768px) {
  .hamburger,
  .popup-mobile,
  .x-close,
  .button-list-bottom,
  .card-image1 {
    display: none;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .button-list {
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    height: 7vh;
    left: 0;
    justify-content: flex-end;
    width: 58%;
    padding-top: 0;
    padding-bottom: 2vh;
    padding-right: 5vh;
    background-color: #3c3a39;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 20px;
  }

  .navlink {
    margin-left: 0;
    font-size: 15px;
    line-height: 20px;
    border: none;
    font-family: 'Roboto', sans-serif;
    color: #fff;
  }

  .a-nav-button {
    color: #fff;
  }

  .navlink2 {
    margin-left: 52vw;
  }

  .envelope {
    margin-right: 10vh;
    margin-left: 3vh;
  }

  .navlink3 {
    margin-left: 3vh;
  }

  .navlink4 {
    margin-left: 3vh;
  }

  .container-landingpage {
    display: grid;
    grid-template-columns: 6% 90%;
    grid-template-rows: auto auto auto;
    background-image: url(img/image-header-desktop.png);
    background-size: 34%;
    padding-bottom: 18vh;
  }

  .container-logos {
    grid-area: 1/1/4/2;
    flex-direction: column;
    padding-left: 3vh;
    width: 6vw;
    height: 31vh;
    margin-top: 17vh;
  }

  .container-experience {
    grid-area: 3/2/4/3;
    width: 50%;
  }

  .container-profession {
    grid-area: 2/2/3/3;
  }

  .hey {
    font-size: 72px;
    line-height: 81.5px;
  }

  .paragraph {
    font-size: 20px;
    line-height: 32px;
  }

  .profession {
    font-size: 32px;
    line-height: 44px;
  }

  /* ------------DESKTOP- WORKS-------------- */

  .division-line1 {
    width: 60%;
    margin-bottom: 12vh;
    margin-left: 1vw;
  }

  .container-header-works {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-left: 4%;
    margin-top: 0;
    width: 85%;
  }

  .header-works {
    margin-bottom: 10vh;
    margin-left: 6vw;
    flex: 1;
  }

  .container-posts {
    display: grid;
    width: 85%;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    margin-left: 7.5%;
  }

  .posts-paragraph {
    font-size: 20px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 1.5vh;
  }

  .seeproject1 {
    width: 10vw;
  }

  .container-image1 {
    grid-area: 1/1/6/2;
  }

  .container-header-posts {
    grid-area: 1/2/2/3;
  }

  .header-posts {
    margin-top: 0;
  }

  .container-posts-paragraph {
    grid-area: 2/2/3/3;
  }

  .list-tools {
    grid-area: 3/2/4/3;
    margin-bottom: 3vh;
    gap: 1vw;
  }

  /* --------------CARDS CONTAINER ------------------ */

  .secondheading,
  .thirdheading {
    display: none;
  }

  .container-cards {
    /*display: flex;*/
    width: 90vw;
    /*flex-direction: row;*/
    display: grid;
    /*width: 90%;*/
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: auto auto;
    /*justify-items: stretch;*/
    row-gap: 3vh;
    column-gap: 0;
    margin-left: 8.5%;
    margin-top: 3vh;
  }

  .card-paragraph {
    width: 95%;
    margin-right: 3vh;
  }

  .item {
    flex: 1;
  }

  .container-seeproject-button {
    display: none;
  } 

  .card {
    height: auto;
    background-position-y: 80%;
    width: 27vw;
    flex: 1;
    overflow: hidden;
    background-size: cover;
  }

  .card-image {
    width: 100%;
    height: fit-content;
    z-index: 0;
  }

  .card-heading {
    padding-top: 19vh;
  }

  .desktopheading3 {
    padding-top: 26vh;
  }

  .cardlist {
    display: flex;
    gap: 0.5vw;
    margin-top: 3vh;
    margin-bottom: 2vh;
  }

  .list {
    flex: 1;
  }

  .bootstrap {
    margin-right: 0;
  }

  .card0 {
    grid-area: 1/1/2/2;
    margin-top: 0;
    background-size: cover;
  }

  .card:hover {
    background-image: url(img/image-hover.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 27vw;
    flex: 1;
  }

  .card:hover > .container-card-heading,
  .card:hover > .container-card-paragraph {
    display: none;
  }

  .card:hover > .container-seeproject-button {
    display: block;
    margin-top: 30.7vh;
    visibility: visible;
  }

  .card1 {
    grid-area: 1/2/2/3;
    /*background: url(img/image-background2.png);
    background-size: cover;*/
  }

  .card2 {
    grid-area: 1/3/2/4;
    /*background: url(img/image-background3.png);
    background-size: cover;*/
  }

  .card3 {
    grid-area: 2/1/3/2;
    /*background-size: cover;*/
  }

  .card4 {
    grid-area: 2/2/3/3;
    /*background: url(img/image-background2.png);
    /*background-size: cover;*/
  }

  .card5 {
    grid-area: 2/3/3/4;
    /*background: url(img/image-background3.png);
    background-position-y: 50%;
    background-size: cover;*/
  }

  /* --------------SECTION ABOUT ME--------------- */

  .container-aboutme {
    display: flex;
    background-image: url(img/image-contact-desktop.png);
    background-position-y: 17%;
    background-size: 40%;
    margin-top: 8vh;
    padding-bottom: 0;
    flex: 1;
    width: 100%;
  }

  .hello {
    display: none;
  }

  .headeraboutme {
    margin-left: 8vw;
    flex: 1;
  }

  .heythere {
    font-size: 20px;
    line-height: 32px;
    width: 43vw;
    margin-left: 8vw;
    flex: 1;
  }

  .getmyresume {
    margin-bottom: 15vh;
    margin-left: 10vw;
    width: 14vw;
    flex: 1;
  }

  .division-line2 {
    width: 80%;
    margin-left: 10%;
  }

  .subcontainer-about {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 10% 90%;
    width: 87%;
    margin-left: 10%;
  }

  .first {
    grid-area: 1/1/2/2;
  }

  .second {
    grid-area: 1/2/2/3;
  }

  .third {
    grid-area: 1/3/2/4;
  }

  .title1,
  .title2,
  .title3 {
    margin-top: 20vh;
  }

  .listaboutlanguages {
    margin-top: 0;
    align-items: flex-start;
  }

  .languages,
  .frameworks {
    justify-self: start;
  }

  .jsframeworks {
    margin-top: 5vh;
  }

  .skills {
    margin-top: 5vh;
    justify-self: start;
  }

  .container-containerlanguagesquare {
    justify-content: flex-start;
  }

  /* -------------STARTS CONTACTME DESKTOP -------------- */

  .division-line4 {
    display: none;
  }

  .container-contactme {
    display: grid;
    grid-template-columns: 43% 52%;
    width: 85%;
    margin-left: 7.5%;
  }

  .always {
    font-size: 40px;
    line-height: 52px;
    text-align: left;
    margin-bottom: 30vh;
  }

  .contactform {
    margin-top: 10vh;
  }

  .division-line3 {
    width: 100%;
    margin-bottom: 3vh;
  }

  .container-touch {
    justify-content: left;
  }

  .touch {
    margin-left: 0;
    width: 23%;
  }

  .social-icons-form {
    flex-direction: row;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    margin-left: 6vw;
  }
}
